.bio-item {
  transition: none;
  padding: 2px 0;

  display: block;

  article {
    display: flex;
    // justify-content: space-between;
    flex-flow: row wrap;
    margin-bottom: 5vh;
    width: 100%;
    @include desktop {
      width: 100%;
    }
  }
  .image {
    min-width: 70vw;
    @include tablet {
      min-width: 50vw;
    }
  }
  .map {
    width: 30px;
    @include tablet {
      width: 50px;
    }
    background-color: var(--color-bg);
    border: 0;
    align-self: baseline;
  }
  .title {
    display: flex;
    align-self: end;
    margin-left: var(--page-padding);
    // padding: 1em 0;
    // width: calc(100% - 100px);
    // @include tablet {
    //   width: calc(100% - 150px);
    // }
  }
  h3 {
    font-weight: normal;
    // font-size: var(--font-size-normal);
    margin: 0;
    padding: 0;
    // margin-bottom: 4px;
    // margin-left: var(--page-padding);
  }

  // transition: color ease-in-out 0.2s;
  // text-decoration: none;
  // color: var(--color-secondary);
  // &:hover {
  //   color: var(--color-primary);
  // }
}
