.introduction {
  width: 100%;
  // flex-direction: row-reverse;
  @include desktop {
    max-width: 75%;
  }
}
.biography-wrapper {
  display: block;
  @include tablet {
    display: flex;
  }
}

.biography-list {
  width: 100%;
  padding-right: var(--page-padding);
}
.biography-map-wrapper {
  // display: none;
  width: 100%;
  @include tablet {
    display: block;
  }
}
.biography-map {
  margin-top: 20px;
  @include tablet {
    margin-top: 0;
    position: sticky;
    top: 5px;
  }
  position: sticky;
  top: 5px;
  width: 100%;
}
.map-box {
  height: calc(80vh);
  @include tablet {
    height: calc(100vh - 10px);
  }
}

.all-button {
  border: 0;
  border-radius: 4px;
  margin: 10px 0 0 10px;
  background-color: var(--color-bg);
  color: var(--color-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}
