.nav {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-large);

    @include desktop {
      font-size: var(--font-size-x-large);
    }
  }

  li {
    list-style: none;
    padding: none;
    margin: none;
    padding: var(--page-padding);
  }

  a {
    color: var(--color-secondary);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: var(--color-primary);
    }
  }

  &.active {
    text-decoration: underline;
  }

  .name {
    width: 100%;
    @include tablet {
      width: unset;
    }
  }
}

.dark-mode {
  a {
    color: var(--color-secondary-dark);
    &:hover {
      color: #fff;
    }
  }
}

:global(a.active) {
  // font-weight: var(--font-weight-medium);
  color: var(--color-text);
  // text-decoration: underline;
  // background-color: yellow;
}
