.home {
  // color: #fff;
  // a {
  //   color: #fff;
  // }

  // p {
  //   width: 100%;
  //   @include tablet {
  //     width: 30%;
  //   }
  //   @include desktop {
  //     // width: 50%;
  //   }
  // }

  .home-info {
    opacity: 0.82;

    margin-top: 8vh;
    @include tablet {
      margin-top: 10vh;
    }
    @include desktop {
      margin-top: 22vh;
    }

    h2,
    h3,
    p {
      // font-weight: normal;
      font-size: var(--font-size-normal);
      @include tablet {
        font-size: var(--font-size-medium);
      }
    }
    p {
      font-size: var(--font-size-medium);
      font-weight: var(--font-weight-extralight);
      font-style: italic;
      @include desktop {
        font-size: var(--font-size-x-large);
      }
    }
  }

  h2,
  p {
    margin: 0;
    margin: 2em 0;
    width: 100%;
    @include tablet {
      width: 66%;
    }
    @include desktop {
      width: 66%;
    }
  }
}
